@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
	font-family: "Conv_Chess Regular";
	src: url("../font/Chess Regular.eot");
	src:
		local("☺"),
		url("../font/Chess Regular.woff") format("woff"),
		url("../font/Chess Regular.ttf") format("truetype"),
		url("../font/Chess Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	background: #e5e5e5;
	margin: 0;
	font-family: "Ubuntu Mono", monospace;
}

.wcell,
.bcell {
	width: 50px;
	height: 50px;
	font-size: 2.875rem;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	transition: ease 1s;
}

.wcell {
	background: #e8edf9;
}

.bcell {
	background: #b7c0d8;
}

.step,
.capture-step {
	position: absolute;
	z-index: 10;
	background: #7b61ff;
	opacity: 0.5;
	border-radius: 50%;
	cursor: pointer;
}

.step {
	width: 20px;
	height: 20px;
}

.capture-step {
	width: 47px;
	height: 47px;
}

.black {
	color: #34364c;
	-webkit-text-stroke: 1.7px #f4f7fa;
}

.white {
	color: #f4f7fa;
	-webkit-text-stroke: 1.7px #34364c;
}

.bcell i,
.wcell i {
	cursor: pointer;
	font-style: normal;
	display: inline;
	vertical-align: top;
}

.row {
	display: flex;
}

.board {
	width: calc(50px * 8);
	display: block;
	font-family: "Conv_Chess Regular";
	border: 7px #f4f7fa solid;
	border-radius: 8px;
	transition: ease 1s;
}

.rotated {
	transform: rotate(180deg);
}

.float {
	float: left;
}

.modal-bg {
	width: 100vw;
	height: 100vh;
	background: #00000088;
	position: fixed;
	z-index: 20;
	animation: modal-bg-transition 0.5s;
}

.promotion-box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.modal-box {
	width: 30vw;
	height: 30vw;
	position: absolute;
	border-radius: 15px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #e5e5e5;
	padding: 30px;
	animation: modal-box-transition 0.5s;
	/*f4f7fa*/
}

.modal-btn {
	font-family: "Conv_Chess Regular";
	color: #7b61ff;
	font-size: 20vh;
	border: none;
	border-radius: 15px;
	background: #f4f7fa;
	transition: 0.5s;
}

.modal-btn:hover {
	background-color: #7b61ff;
	color: #f4f7fa;
}

.reverse {
	animation: modal-bg-transition-reverse 0.5s;
}

@keyframes modal-bg-transition {
	from {
		background: #00000000;
	}

	to {
		background: #00000088;
	}
}

@keyframes modal-bg-transition-reverse {
	to {
		opacity: 0;
	}

	from {
		opacity: 1;
	}
}

@keyframes modal-box-transition {
	from {
		bottom: 40vh;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

.reset {
	transition: 0.25s;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	border: none;
	background: #7b61ff;
	color: #f4f7fa;
	height: 40px;
	width: 80px;
	border-radius: 10px;
	cursor: pointer;
	font-family: "Ubuntu Mono", monospace;
	font-size: 1.4em;
	clear: both;
}

.reset:hover {
	background: #f4f7fa;
	color: #34364c;
}

.game {
	margin-left: calc(50vw - 200px);
	padding-top: 10vh;
}

.timer {
	font-family: "Ubuntu Mono", monospace;
	font-style: normal;
	padding-left: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100px;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
	height: 400px;
}

.whiteTimer {
	color: #34364c;
	background: #f4f7fa;
	width: 100px;
	text-align: center;
	display: block;
	border-radius: 10px;
	padding: 6px 0;
}

.blackTimer {
	color: #f4f7fa;
	background: #34364c;
	width: 100px;
	text-align: center;
	display: block;
	border-radius: 10px;
	padding: 6px 0;
}

.begin-select {
	background: #f4f7fa;
	border: none;
	border-radius: 10px;
	height: 30px;
	margin: 5px 0;
}

.modal-box label {
	font-size: 1.3em;
}

.begin-select option {
	background: #e5e5e5;
}

@media all and (max-width: 720px) {
	.game {
		margin: 0;
	}

	.board {
		float: none;
		margin: 0 auto;
		width: calc(12vw * 8);
	}

	.modal-box {
		width: 90vw;
		height: 30vh;
		padding: 15px;
	}

	.bcell,
	.wcell {
		width: 12vw;
		height: 12vw;
		font-size: 11vw;
	}

	.black {
		-webkit-text-stroke: calc(12vw / 27) #f4f7fa;
	}

	.white {
		-webkit-text-stroke: calc(12vw / 27) #34364c;
	}

	.timer {
		flex-wrap: nowrap;
		width: 100%;
		padding-top: 40px;
		padding-left: 0;
		height: fit-content;
		justify-content: space-around;
	}
}
