@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'Conv_Chess Regular';
	src: url('../font/Chess Regular.eot');
	src: local('☺'), url('../font/Chess Regular.woff') format('woff'), url('../font/Chess Regular.ttf') format('truetype'), url('../font/Chess Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

i{
    font-style: normal;
    display: inline;
    vertical-align:top ;
}

body{
    background: #e5e5e5;
	margin: 0;
    font-family: "Ubuntu Mono", monospace;
}

.wcell{
    width: 50px;
    height: 50px;
    background: #E8EDF9;
    font-size: 46px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.bcell{
    width: 50px;
    height: 50px;
    background: #B7C0D8;
    font-size: 46px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

}

.step, .capture-step{
    position: absolute;
    z-index: 10;
    background: #7B61FF;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
}

.step{
    width: 20px;
    height: 20px;
}

.capture-step{
    width: 47px;
    height: 47px;
}

.black{
    color: #34364C;
    -webkit-text-stroke:1.7px #F4F7FA ;
}

.white{
    color: #F4F7FA;
    -webkit-text-stroke:1.7px #34364C ;
}

.bcell i , .wcell i{
    cursor: pointer;
}

.row{
    display: flex;
}

.board{
    width: calc(50px * 8);
    display: block;
    font-family: 'Conv_Chess Regular';
	float: left;
    border: 7px #F4F7FA solid;
    border-radius: 8px
}


.modal-bg{
	width: 100vw;
	height: 100vh;
	background: #00000088;
	position: fixed;
	z-index: 20;
	animation: modal-bg-transition 0.5s;
}

.modal-box{
	width: 60vh;
	height: 60vh;
	position: absolute;
	border-radius: 15px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #F4F7FA;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	padding: 30px;
	animation: modal-box-transition 0.5s;
}

.modal-btn{
	font-family: 'Conv_Chess Regular';
	color: #7B61FF;
	font-size: 20vh;
	border: none;
	border-radius: 15px;
	background: #F4F7FA;
	transition: 0.5s;
}

.modal-btn:hover{
	background-color: #7B61FF;
	color:#F4F7FA;
}

.reverse{
	animation: modal-bg-transition-reverse 0.5s ;
}

@keyframes modal-bg-transition{
	from {background: #00000000;}
	to {background: #00000088;}
}

@keyframes modal-bg-transition-reverse{
	to {opacity: 0;}
	from {opacity: 1;}
}


@keyframes modal-box-transition{
	from{bottom: 40vh;opacity: 0;}
	to {bottom: 0;opacity: 1;}
}

.reset{
	transition: 0.25s;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	border: none;
	background: #7B61FF;
	color: #F4F7FA;
	height: 40px;
	width: 80px;
	border-radius: 10px;
	cursor: pointer;
    font-family: "Ubuntu Mono", monospace;
	font-size: 1.4em;
	clear:both;

}
.reset:hover{
	background: #F4F7FA;
	color: #34364C;
}

.game{
	margin-left: calc(50vw - 200px );
	padding-top: 10vh;
}

.timer{
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
	padding-left: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100px;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
	height: 400px;
}


.whiteTimer{
	color: #34364C;
	background: #F4F7FA;
	width: 100px;
	text-align: center;
	display: block;
	border-radius: 10px;
    padding: 6px 0;
}

.blackTimer{
	color: #F4F7FA;
	background: #34364C;
	width: 100px;
text-align: center;
	display: block;
	border-radius: 10px;
    padding: 6px 0;
}

@media all and (max-width: 720px){
    .game{
        margin: 0;
    }

    .board{
        float: none;
        margin: 0 auto;
    }
    .timer{
        flex-wrap: nowrap;
        width: 100%;
        padding-top: 40px;
        padding-left: 0;
        height: fit-content;
        justify-content: space-around;
    }
}
